<html>
  <head>
    <title>Go Program</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div>
        <h1 class="text-4xl font-bold text-center">Groceries</h1>
        <div id="list">
          {{template "list.html" .}}
        </div>
        <form hx-post="/add" hx-target="#list" hx-on::after-request="this.reset()">
          <input type="text" name="name" placeholder="Enter item">
          <button type="submit">Add</button>
        </form>
    </div>
  </body>
</html>